<p style="color: green"><%= notice %></p>

<h1>Noticias</h1>

<div id="news">
  <% @news.each do |news| %>
    <%= render news %>
    <p>
      <%= link_to "Ver Noticia", news, class: "btn btn-info" %>
    </p>
  <% end %>
</div>

<%= link_to "Agregar Noticia", new_news_path, class: "btn btn-warning mb-3" %>

<%= button_to "Cerrar sesion", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
